.p-tool .item{
    width: 27px;height: 27px;
    border-radius: 5px;
    background: white;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    }
    .p-tool .item img{
    width: 95%;height: 95%;
    padding: 2px;
    }

    .containers {
    position: relative;
    margin-top: 5px;
    width: auto;
    height: 250px;
    border-radius: 5px;
    }

    .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
    }

    .containers:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .3);
    }

    .containers .project-img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    border-radius: 5px;
    }

    .title {
    position: absolute;
    width: 500px;
    left: 3%;
    bottom: 0;
    font-weight: 700;
    font-size: 30px;

    text-transform: uppercase;
    color: white;
    z-index: 1;
    transition: top .5s ease;
    }

    .containers:hover .title {
    top: 90px;
    text-align: center
    }
    .containers:hover .item {
    display: none;
    }

    .button {
    position: absolute;
    width: 500px;
    left:0;
    top: 180px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
    }

    .button a {
    width: 200px;
    padding: 12px 48px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
    }

    .containers:hover .button {
    opacity: 1;
    }
    .buttons {
    
    width: auto;

    text-align: center;
    
    transition: opacity .35s ease;
    }
    .buttons a {
    width: 200px;
    padding: 12px 48px;
    text-align: center;
    color: rgb(32, 32, 32);
    border: solid 2px rgb(49, 49, 49);
    z-index: 1;
    }
    @media (max-width: 991px) {
        .mbldis, .containers{
        display: none;
        }
        .resume-company-name{
            font-size: 12px;
        }
        .project-desc{
            height: 150px;
            overflow: hidden;
            overflow-y: scroll;
            font-size: 15.5px;
        }
    }
.marquee-content {
display: -webkit-box;
display: -moz-box;
display: -webkit-flex;
display: -ms-flexbox;
display: box;
display: flex;
-webkit-animation: marquee 35s linear infinite running;
-moz-animation: marquee 35s linear infinite running;
-o-animation: marquee 35s linear infinite running;
-ms-animation: marquee 35s linear infinite running;
animation: marquee 35s linear infinite running;
}
.marquee-content .btn, a.btn {
padding: .275rem .5rem !important; 

}
.marquee-content:hover {
-webkit-animation-play-state: paused;
-moz-animation-play-state: paused;
-o-animation-play-state: paused;
-ms-animation-play-state: paused;
animation-play-state: paused;
}
.marquee-tag {
width: auto !important;
margin: 0 0.6em; 

display: -webkit-inline-box;
display: -moz-inline-box;
display: -webkit-inline-flex;
display: -ms-inline-flexbox;
display: inline-box;

-webkit-box-align: center;
-moz-box-align: center;
-o-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
-webkit-box-pack: center;
-moz-box-pack: center;
-o-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
transition: all 0.5s ease;

}
.marquee-tag:hover {

-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
cursor: pointer;
}
@-moz-keyframes marquee {
0% {
-webkit-transform: translateX(0);
-moz-transform: translateX(0);
-o-transform: translateX(0);
-ms-transform: translateX(0);
transform: translateX(0);
}
100% {
-webkit-transform: translate(-50%);
-moz-transform: translate(-50%);
-o-transform: translate(-50%);
-ms-transform: translate(-50%);
transform: translate(-50%);
}
}
@-webkit-keyframes marquee {
0% {
-webkit-transform: translateX(0);
-moz-transform: translateX(0);
-o-transform: translateX(0);
-ms-transform: translateX(0);
transform: translateX(0);
}
100% {
-webkit-transform: translate(-50%);
-moz-transform: translate(-50%);
-o-transform: translate(-50%);
-ms-transform: translate(-50%);
transform: translate(-50%);
}
}
@-o-keyframes marquee {
0% {
-webkit-transform: translateX(0);
-moz-transform: translateX(0);
-o-transform: translateX(0);
-ms-transform: translateX(0);
transform: translateX(0);
}
100% {
-webkit-transform: translate(-50%);
-moz-transform: translate(-50%);
-o-transform: translate(-50%);
-ms-transform: translate(-50%);
transform: translate(-50%);
}
}
@keyframes marquee {
0% {
-webkit-transform: translateX(0);
-moz-transform: translateX(0);
-o-transform: translateX(0);
-ms-transform: translateX(0);
transform: translateX(0);
}
100% {
-webkit-transform: translate(-50%);
-moz-transform: translate(-50%);
-o-transform: translate(-50%);
-ms-transform: translate(-50%);
transform: translate(-50%);
}
}

@media (max-width: 768px) {
.marquee-content {
display: -webkit-box;
display: -moz-box;
display: -webkit-flex;
display: -ms-flexbox;
display: box;
display: flex;
-webkit-animation: marquee 13s linear infinite running;
-moz-animation: marquee 13s linear infinite running;
-o-animation: marquee 13s linear infinite running;
-ms-animation: marquee 13s linear infinite running;
animation: marquee 13s linear infinite running;
}
}

.p-tool .item{
    width: 27px;height: 27px;
    border-radius: 5px;
    background: white;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    }
    .p-tool .item img{
    width: 95%;height: 95%;
    padding: 2px;
    }

    @media (max-width: 991px) {
        .mbldis{
        display: none;
        }
        .resume-company-name{
            font-size: 12px;
        }
    }.breadcrumb-navigation > li {
display: inline;
}
.breadcrumb-navigation li + li:before {
padding: 4px;
content: "/";
}