@use "../abstracts/index" as *;

.header {
    padding-top: 39px;
    z-index: 999;
    position: relative;
}

.header-sidebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 999;
    background: linear-gradient(
        123.51deg,
        rgba(215, 237, 237, 0.1) -61.8%,
        rgba(204, 235, 235, 0.01) 100%
    );
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 160px;
    padding: 12px 20px 12px 12px;
    position: relative;
    .box {
        display: flex;
        align-items: center;
        gap: 12px;
        .avatar {
            border-radius: 50%;
            overflow: hidden;
        }
    }
    .nav-menu {
        gap: 20px;
    }
    .menu-button {
        font-size: 24px;
        padding: 12px;
        border-radius: 50%;
        background: #ffffff1a;
        border-top: 1px solid #ffffff1a;
        height: 48px;
        width: 48px;
        color: var(--Text-light);
    }
    .list-icon {
        display: flex;
    }
    &.style-1 {
        .header-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .nav-menu {
            display: flex;
            gap: 40px;
        }
    }
    &.style-horizontal {
        @include res(xl) {
            margin-bottom: 40px;
        }
        @include res(md) {
            margin-bottom: 25px;
        }
        @include res(sm) {
            .nav-menu {
                display: none;
            }
        }
    }
    @include res(sm) {
        .box {
            gap: 8px;
            .avatar {
                width: 48px;
            }
        }
    }
}

.right-bar {
    position: fixed;
    right: 42px;
    top: 100px;
    z-index: 999;
    @include res(xxl) {
        right: 15px;
    }
    @include res(xl) {
        position: sticky;
        right: 0;
        top: 30px;
        &.style-1 {
            position: fixed;
            bottom: 20px;
            right: 15px;
            top: unset;
        }
    }
    @include res(md) {
        position: fixed;
        right: 20px;
        top: 82px;
    }
}

.nav-right {
    padding: 12px;
    border-radius: 160px;
    background: var(--Bg-linear-2);
    max-width: 72px;
    position: relative;
    margin-bottom: 21px;
    .list-icon {
        gap: 20px;
    }
    .wrap {
        position: absolute;
        overflow: hidden;
        inset: 0;
        border-radius: inherit;
        pointer-events: none;
    }
    .item-shape {
        position: absolute;
        min-width: 100%;
        height: 100%;
        pointer-events: none;

        img {
            position: absolute;
            height: 100%;
            min-width: 613px;
            transform: translate(-36%, -50%);
        }
    }
    @include res(md) {
        padding: 6px;
        background: linear-gradient(
            123.51deg,
            rgba(215, 237, 237, 0.1) -61.8%,
            rgba(204, 235, 235, 0.01) 100%
        );
        backdrop-filter: blur(12px);
        border: 1px solid #ffffff1a;
    }
}

.nav-menu {
    li {
        position: relative;
        &:hover {
            .tooltip {
                opacity: 1;
                visibility: visible;
                transform: translateY(-50%) scale(1);
            }
        }
        .nav_link {
            transition-delay: 0.2s;
            &.active {
                background-color: var(--Text-light);
                color: var(--Text-primary);
            }
        }
    }
    .tooltip {
        position: absolute;
        right: 62px;
        top: 50%;
        transform: translateY(-50%) scale(0.6);
        opacity: 0;
        visibility: hidden;
        padding: 8px 20px;
        color: var(--White);
        border-radius: 8px;
        z-index: 1;
        background: var(--Bg-linear-2);
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        @include transition3();
        font-family: $font-3;
    }
    &.style-1 {
        li {
            .nav_link {
                transition-delay: 0s;
                &.active {
                    background-color: unset !important;
                    color: var(--Primary);
                }
            }
        }
    }
    &.style-2 {
        li {
            &:hover {
                .tooltip {
                    transform: translateX(50%) scale(1);
                }
            }
        }
        .tooltip {
            right: 50%;
            top: calc(100% + 26px);
            transform: translateX(50%) scale(0.6);
            &::after {
                content: "";
                position: absolute;
                background-color: rgba(48, 50, 50, 1);
                clip-path: polygon(49% 80%, 0 100%, 100% 100%);
                width: 13px;
                height: 20px;
                top: -20px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    &.style-3 {
        padding: 20px;
        li {
            &:not(:last-child) {
                .nav_link {
                    padding-bottom: 16px;
                    border-bottom: 1px solid #ffffff1a;
                    margin-bottom: 16px;
                }
            }
            .nav_link {
                &.active {
                    background: unset;
                    border-color: var(--Text-light);
                    color: var(--Primary);
                }
            }
        }
    }
}

.menu-option {
    @include res(md) {
        li > * {
            background-color: var(--Bg-dark);
            color: var(--Text-light);
            border-top: 1px solid #ffffff1a;
        }
    }
}

.header {
    &.header-fixed {
        padding-top: 20px;
        top: 0;
        left: 0;
        right: 0;
        position: fixed;
        z-index: 999;
        -webkit-transform: translateY(-150%);
        -khtml-transform: translateY(-150%);
        -moz-transform: translateY(-150%);
        -ms-transform: translateY(-150%);
        -o-transform: translateY(-150%);
        transform: translateY(-150%);
        -webkit-transition: 0.6s cubic-bezier(0.24, 0.74, 0.58, 1);
        -khtml-transition: 0.6s cubic-bezier(0.24, 0.74, 0.58, 1);
        -moz-transition: 0.6s cubic-bezier(0.24, 0.74, 0.58, 1);
        -ms-transition: 0.6s cubic-bezier(0.24, 0.74, 0.58, 1);
        -o-transition: 0.6s cubic-bezier(0.24, 0.74, 0.58, 1);
        transition: 0.6s cubic-bezier(0.24, 0.74, 0.58, 1);
        pointer-events: none;
        .header-sidebar {
            background: var(--Bg-linear-2);
            backdrop-filter: blur(12px);
            border: 1px solid #ffffff1a;
        }
        &.style-1 {
            @include res(lg) {
                padding: 0;
                .header-sidebar {
                    border-radius: unset;
                    background: var(--Bg-linear-2);
                    backdrop-filter: blur(112px);
                    border: none;
                    margin-left: -15px;
                    margin-right: -15px;
                }
            }
            .header-sidebar {
                margin-bottom: 0;
            }
            .style-horizontal {
                @include res(xl, min) {
                    max-width: 727px;
                }
            }
        }

        &.is-fixed {
            -webkit-transform: translateY(0);
            -khtml-transform: translateY(0);
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -o-transform: translateY(0);
            transform: translateY(0);
            pointer-events: all;
        }
    }
}
