@use "../abstracts/index" as *;

.bg-landing {
    background-color: #0c0c0c;
}

.header-landing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    .site-logo {
        font-size: 36px;
        line-height: 50px;
        padding: 0 10px;
        color: var(--White);
    }
}

.heading-top {
    position: relative;

    .item {
        z-index: 2;
        position: absolute;
        display: none;
    }
    @include res(lg, min) {
        .item {
            display: block;
        }
        .item-1 {
            bottom: 56px;
            left: 0;
        }
        .item-2 {
            top: 104px;
            right: 0;
        }
    }
    @include res(llg, min) {
        .item {
            width: 14%;
        }
    }
    @include res(xxl, min) {
        .item-1 {
            bottom: 56px;
            left: 8%;
        }
        .item-2 {
            top: 104px;
            right: 7.7%;
        }
    }
}

.page-title {
    text-align: center;
    padding: 99px 0;
    position: relative;
    .title-border-shape {
        background-color: #101010;
        padding-left: 20px;
        padding-right: 20px;
    }
    @include res(lg) {
        padding: 50px 0;
    }
}

.bg-shape {
    top: 0;
    pointer-events: none;
    left: 0;
    right: 0;
    width: 100%;

    img {
        object-fit: cover;
        width: 100%;
    }
}

.bg-shape-2 {
    bottom: 0;
    pointer-events: none;
    left: 0;
    right: 0;
    width: 100%;
    img {
        object-fit: cover;
        width: 100%;
    }
}
.bg-shape-3 {
    bottom: 0;
    pointer-events: none;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    opacity: 0.3;
    -webkit-mask: url("../images/item/bg-shape.svg") no-repeat center;
    -webkit-mask-size: cover;
    mask: url("../images/item/bg-shape.svg") no-repeat center;
    width: 100%;
    height: 100%;
    background: var(--Primary);
    mask-size: cover;
}

.bg-overlay-landing {
    top: 46%;
    transform: translateY(-50%);
    z-index: 1;
    width: 100%;
    img {
        width: 100%;
        object-fit: cover;
    }
}

.home-box {
    padding: 24px;
    background: linear-gradient(
        123.51deg,
        rgba(215, 237, 237, 0.1) -61.8%,
        rgba(204, 235, 235, 0.01) 100%
    );
    border: 1px solid #ffffff1a;
    border-radius: 20px;
    text-align: center;
    .title {
        padding: 34px 0 31px;
    }
    .thumbs {
        position: relative;
        overflow: hidden;
        img {
            width: 100%;
            object-fit: cover;
        }
        &::after {
            position: absolute;
            content: "";
            background: linear-gradient(
                180deg,
                rgba(12, 8, 44, 0) 0%,
                var(--Primary) 200%
            );
            width: 100%;
            height: 0;
            bottom: 0;
            left: 0;
            @include transition3();
        }
    }
    .tf-btn {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        bottom: 38px;
        z-index: 3;
        border-radius: 8px;
        opacity: 0;
        transform: translateY(30px);
        transition-delay: 0.18s;
        height: 52px;
        padding: 0 52px;
    }
    &:hover {
        .thumbs {
            &::after {
                height: 131px;
            }
        }
        .tf-btn {
            transform: translateY(0);
            opacity: 1;
        }
    }
}

.wrap-features {
    display: flex;
    padding: 60px 60px 58px;
    border-radius: 60px;
    background: linear-gradient(
        123.51deg,
        rgba(215, 237, 237, 0.1) -61.8%,
        rgba(204, 235, 235, 0.01) 100%
    );
    border: 1px solid #ffffff1a;
    z-index: 1;
    position: relative;
    .feature-color {
        max-width: 283px;
    }
    .tf-setting-color {
        background-color: unset;
    }
    .settings-color {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 49px 32px;
        padding-left: 10px;
    }
    .wrap-feature-bg-item {
        gap: 18px 19px;
    }
    @include res(lg, min) {
        .line {
            display: block;
            margin-left: 40px;
            margin-right: 40px;
            width: 1px;
            background-color: #ffffff1a;
        }
    }
    @include res(xl, min) {
        .line {
            margin-left: 80px;
            margin-right: 80px;
        }
    }
    @include res(lg) {
        flex-direction: column;
        .tf-setting-color {
            max-width: unset;
        }
        .settings-color {
            display: flex;
            flex-wrap: wrap;
            gap: 20px 32px;
        }
    }
    @include res(md) {
        padding: 40px 10px 38px;
    }
}

.features-background {
    gap: 20px;
}

.wrap-feature-bg-item {
    @include res(sm) {
        gap: 8px;
    }
}

.feature-bg-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-top: 1px solid;
    border-image-source: linear-gradient(
        123.51deg,
        rgba(215, 237, 237, 0.1) -61.8%,
        rgba(204, 235, 235, 0.01) 100%
    );
    background: var(--Bg-linear-2);
    border-radius: 100px;
    overflow: hidden;
    @include transition3();
    img {
        position: absolute;
        inset: 0;
        opacity: 0;
        @include transition3();
        width: 100%;
        object-fit: cover;
        height: 100%;
    }
    a {
        position: relative;
        z-index: 1;
        white-space: nowrap;
        padding: 24px;
    }
    &:hover {
        border: 1px solid var(--Primary);
        img {
            opacity: 1;
        }
    }
    @include res(xl) {
        a {
            padding: 18px;
        }
    }
    @include res(lg) {
        a {
            padding: 12px;
        }
    }
    @include res(sm) {
        a {
            padding: 8px;
        }
    }
}

.section-box-home {
    .tf-grid-layout {
        gap: 10px;
    }
}

.section-features {
    padding-top: 175px;
    position: relative;
    .item {
        position: absolute;
    }
    .item-1 {
        top: 92px;
        left: 50%;
        transform: translateX(-50%);
    }
    .item-2 {
        bottom: -104px;
        left: -4.7%;
    }
    .item-3 {
        opacity: 0.8;
        right: 16%;
        bottom: 14%;
    }
    @include res(lg) {
        padding-top: 80px;
        .item-2 {
            display: none;
        }
    }
    @include res(md) {
        padding-top: 50px;
        .item {
            width: 30%;
        }
    }
}

.footer-landing {
    padding-top: 105px;
    padding-bottom: 117px;
    position: relative;
    z-index: 3;
    text-align: center;
    .title-border-shape {
        background-color: #101010;
        padding-left: 20px;
        padding-right: 20px;
    }
    .title {
        box-shadow: 0px 10px 25px 0px #365f681a;
    }
    .content {
        padding-top: 27px;
        position: relative;
        z-index: 3;
    }
    .bg-footer {
        position: absolute;
        inset: 0;
    }
    .item {
        top: 33px;
        right: 9.2%;
    }
    @include res(lg) {
        .item {
            display: none;
        }
    }
    @include res(md) {
        padding-top: 50px;
        padding-bottom: 50px;
        .content {
            padding-top: 0;
        }
    }
}
