@use "../abstracts/index" as *;

.testimonial-item {
    position: relative;
    overflow: hidden;
    padding: 40px;
    border-radius: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    background: var(--Bg-linear-2);
    .icon {
        margin-bottom: 21px;
        font-size: 34px;
        color: var(--Text-light);
    }
    .item-shape {
        position: absolute;
        width: 100%;
        height: 100%;
        pointer-events: none;
        img {
            transform: translate(-36%, -50%);
            @include transition3();
            opacity: 1;
        }
    }
    @include res(md) {
        padding: 28px 15px;
    }
}
